html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.lil-gui {
  --width:40%;
  --folder-indent: 10px;
  --font-size: 20px;
  --input-font-size: 20px;
  --widget-height: 30px;
  --slider-knob-width: 4px;
  --slider-input-width: 50%;
  --color-input-width: 65%;
  --slider-input-min-width: 60px;
  --color-input-min-width: 60px;
  --scrollbar-width: 10px;
}
#canvas {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10;
  background: #092979;
  background: radial-gradient(circle, rgba(64,73,227,1) 0%, rgba(9,41,121,1) 45%, rgba(2,0,36,1) 100%);
}
.wb-body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}